* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(219, 248, 255);
  height: 99vh;
  width: 100vw;
}

.left {
  flex:0.9;
}

.right {
  display: flex;
  flex-direction: column;
  bottom: 1rem;
}

.right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.graphName {
  margin: 1rem 0;
}