* {
  box-sizing: border-box;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(219, 248, 255);
  height: 99vh;
  width: 100vw;
}

.left {
  flex:0.9;
}

.ListName {
  font-size: 1.25rem;
}

.graphName {
  margin: 1.5rem 0;
  font-size: 1.25rem;

}

.MuiPaper-rounded{
  border-radius: 1rem !important;
}